<html>
    <head>
      {% if title %}
      <title>AFS migration volume tracker - {{title}}</title>
      {% else %}
      <title>AFS migration volume tracker</title>
      {% endif %}
    </head>
    <body>
        <div>AFS migration volume tracker: <a href="/">Home</a></div>
        <hr>
        {% block content %}{% endblock %}
    </body>
</html>
