{% extends "base.html" %}
{% block content %}
        <div class="jumbotron">
            <h1>AFS volume status</h1>
            <p class="lead"></p>
            <p><a class="btn btn-lg btn-success" href="login" role="button">Login</a>
            </p>
        </div>
 
        <div class="row marketing">
            <div class="col-lg-6">
                <h4>one volume here</h4>
                <p>and its status</p>
 
            </div>
        </div>
{% endblock %}
