{% extends "base.html" %}
{% block content %}
<h1>Info for AFS volumes owned by {{user.fullname }} ({{ user.login }})</h1>

<ul>
{% for volume in volumes %}
        <li>Hello, {{ volume.volname }}!</li>
{% endfor %}
</ul>
{% endblock %}
